<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('partials/header') %>
        <main>
            <h1>Contact Us</h1>
            <p>This is some placeholder content for the contact page.</p>
        </main>
        <%- include('partials/footer') %>
</body>

</html>